<section class="about">
  <div class="container">
    <h2 class="about__title">О компании</h2>
    <div class="about__flex">
      <ul class="about__list">
        <li class="about__item">
          <h4 class="about__item-title">ОИК АМТЕК</h4>
          <h5 class="about__item-text">Объединенная инженерно-производственная компания, предоставляющая полный спектр услуг в  проектировании, строительстве внутренних и наружных инженерных сетей, производстве электрощитового оборудования, пусконаладки с последующим монтажом и техническим сопровождением, инженерному оснащению, системам автоматизации для объектов промышленного назначения, гражданской и коммерческой недвижимости, центров обработки данных (ЦОД), а также в области проектов силовой энергетики.</h5>
        </li>
        <li class="about__item">
          <h4 class="about__item-title">Наша миссия </h4>
          <h5 class="about__item-text">Мы помогаем нашим клиентам повысить эффективность бизнес процессов и укрепить конкурентоспособность на рынке и понимаем, что успешное решение задач наших клиентов требует не только надежного оборудования, но и индивидуального подхода к каждому проекту.</h5>
        </li>
        <li class="about__item">
          <h4 class="about__item-title">Решения под ключ</h4>
          <h5 class="about__item-text">Благодаря профессиональной команде экспертов и инженеров, мы обеспечиваем полный цикл обслуживания от консультаций и проектирования до производства высококачественного оборудования и поставки материалов, монтажа и технического обслуживания.</h5>
        </li>
        <li class="about__item">
          <h4 class="about__item-title">Собственное производство</h4>
          <h5 class="about__item-text">Собственное производство, полный ассортимент продукции и услуг, давние отношения с вендорами позволяют нам реализовать проекты любой сложности и масштаба, качественно и в срок.</h5>
        </li>
        <button class="about__list-btn">Раскрыть</button>
      </ul>
      <img src="../assets/image/about-image.jpg" alt="" class="about__image">
    </div>
    <ul class="about__subPluses">
      <li class="about__subPlus">
        <p class="about__subplus-title">25 лет</p>
        <h5 class="about__subPlus-name">в отрасли</h5>
      </li>
      <li class="about__subPlus">
        <p class="about__subplus-title">6000 +</p>
        <h5 class="about__subPlus-name">Реализованных проектов</h5>
      </li>
    </ul>
  </div>
</section>