<section class="approach">
	<div class="container">
		<h2 class="approach__title">Комплексный подход в создании инженерной инфраструктуры</h2>
		<h3 class="approach__subtitle">
			Производим оборудование. Выполняем работы. <br />
			Обеспечиваем поставки для инженерных коммуникаций
		</h3>
		<div class="swiper approach-swiper">
			<ul class="swiper-wrapper approach__list">
				<li class="approach__item swiper-slide">
					<div class="approach__item-content">
						<h5 class="approach__item-title">Производство электрощитового оборудования. ИБП и ДГУ</h5>
						<h6 class="approach__item-text">
							Современные решения для эффективного распределения электроэнергии в жилых, коммерческих и промышленных
							объектах. Снижение энергопотерь до 15%
						</h6>
						<button class="approach__item-btn consult">Оставить заявку</button>
					</div>
					<img src="../assets/images/approach.jpg" alt="" class="approach__item-image" />
				</li>
				<li class="approach__item swiper-slide">
					<div class="approach__item-content">
						<h5 class="approach__item-title">Производство электрощитового оборудования. ИБП и ДГУ</h5>
						<h6 class="approach__item-text">
							Современные решения для эффективного распределения электроэнергии в жилых, коммерческих и промышленных
							объектах. Снижение энергопотерь до 15%
						</h6>
						<button class="approach__item-btn consult">Оставить заявку</button>
					</div>
					<img src="../assets/images/approach.jpg" alt="" class="approach__item-image" />
				</li>
				<li class="approach__item swiper-slide">
					<div class="approach__item-content">
						<h5 class="approach__item-title">Производство электрощитового оборудования. ИБП и ДГУ</h5>
						<h6 class="approach__item-text">
							Современные решения для эффективного распределения электроэнергии в жилых, коммерческих и промышленных
							объектах. Снижение энергопотерь до 15%
						</h6>
						<button class="approach__item-btn consult">Оставить заявку</button>
					</div>
					<img src="../assets/images/approach.jpg" alt="" class="approach__item-image" />
				</li>
				<li class="approach__item swiper-slide">
					<div class="approach__item-content">
						<h5 class="approach__item-title">Производство электрощитового оборудования. ИБП и ДГУ</h5>
						<h6 class="approach__item-text">
							Современные решения для эффективного распределения электроэнергии в жилых, коммерческих и промышленных
							объектах. Снижение энергопотерь до 15%
						</h6>
						<button class="approach__item-btn consult">Оставить заявку</button>
					</div>
					<img src="../assets/images/approach.jpg" alt="" class="approach__item-image" />
				</li>
				<li class="approach__item swiper-slide">
					<div class="approach__item-content">
						<h5 class="approach__item-title">Производство электрощитового оборудования. ИБП и ДГУ</h5>
						<h6 class="approach__item-text">
							Современные решения для эффективного распределения электроэнергии в жилых, коммерческих и промышленных
							объектах. Снижение энергопотерь до 15%
						</h6>
						<button class="approach__item-btn consult">Оставить заявку</button>
					</div>
					<img src="../assets/images/approach.jpg" alt="" class="approach__item-image" />
				</li>
				<li class="approach__item swiper-slide">
					<div class="approach__item-content">
						<h5 class="approach__item-title">Производство электрощитового оборудования. ИБП и ДГУ</h5>
						<h6 class="approach__item-text">
							Современные решения для эффективного распределения электроэнергии в жилых, коммерческих и промышленных
							объектах. Снижение энергопотерь до 15%
						</h6>
						<button class="approach__item-btn consult">Оставить заявку</button>
					</div>
					<img src="../assets/images/approach.jpg" alt="" class="approach__item-image" />
				</li>
				<li class="approach__item swiper-slide">
					<div class="approach__item-content">
						<h5 class="approach__item-title">Производство электрощитового оборудования. ИБП и ДГУ</h5>
						<h6 class="approach__item-text">
							Современные решения для эффективного распределения электроэнергии в жилых, коммерческих и промышленных
							объектах. Снижение энергопотерь до 15%
						</h6>
						<button class="approach__item-btn consult">Оставить заявку</button>
					</div>
					<img src="../assets/images/approach.jpg" alt="" class="approach__item-image" />
				</li>
				<li class="approach__item swiper-slide">
					<div class="approach__item-content">
						<h5 class="approach__item-title">Производство электрощитового оборудования. ИБП и ДГУ</h5>
						<h6 class="approach__item-text">
							Современные решения для эффективного распределения электроэнергии в жилых, коммерческих и промышленных
							объектах. Снижение энергопотерь до 15%
						</h6>
						<button class="approach__item-btn consult">Оставить заявку</button>
					</div>
					<img src="../assets/images/approach.jpg" alt="" class="approach__item-image" />
				</li>
				<li class="approach__item swiper-slide">
					<div class="approach__item-content">
						<h5 class="approach__item-title">Производство электрощитового оборудования. ИБП и ДГУ</h5>
						<h6 class="approach__item-text">
							Современные решения для эффективного распределения электроэнергии в жилых, коммерческих и промышленных
							объектах. Снижение энергопотерь до 15%
						</h6>
						<button class="approach__item-btn consult">Оставить заявку</button>
					</div>
					<img src="../assets/images/approach.jpg" alt="" class="approach__item-image" />
				</li>
				<li class="approach__item swiper-slide">
					<div class="approach__item-content">
						<h5 class="approach__item-title">Производство электрощитового оборудования. ИБП и ДГУ</h5>
						<h6 class="approach__item-text">
							Современные решения для эффективного распределения электроэнергии в жилых, коммерческих и промышленных
							объектах. Снижение энергопотерь до 15%
						</h6>
						<button class="approach__item-btn consult">Оставить заявку</button>
					</div>
					<img src="../assets/images/approach.jpg" alt="" class="approach__item-image" />
				</li>
			</ul>
		</ class="swiper">
	</div>
</section>
