<section class="bonus">
  <div class="container">
    <div class="bonus__content">
      <h2 class="bonus__content-title">Получи бонус за размещение заказа</h2>
      <p class="bonus__content-subtitle">На первый заказ для всех новых клиентов<br> действует предложение на выбор</p>
      <ul class="bonus__content-options">
        <li class="bonus__content-option">5% постоянная скидка на все последующие заказы</li>
        <li class="bonus__content-option">2% кэшбек на карту</li>
      </ul>
      <form action="" class="bonus__content-form">
        <input type="text" class="bonus__content-form-input" placeholder="Имя, компания">
        <input type="text" class="bonus__content-form-input" placeholder="Номер телефона">
        <button class="bonus__content-form-btn">Получить предложение</button>
      </form>
    </div>
    <img src="../assets/images/bonus-image.jpg" alt="" class="bonus__image">
  </div>
</section>