<section class="clients">
	<div class="container">
		<h2 class="clients__title">Наши клиенты и партнеры</h2>
		<h3 class="clients__subtitle">Нам доверяют лидеры отрасли</h3>
		<div class="swiper clients__swiper">
			<ul class="swiper-wrapper clients__swiper-list">
				<li class="clients__swiper-item swiper-slide">
					<img src="../assets/images/clients.jpg" alt="" class="clients__swiper-item-image" />
					<h4 class="clients__swiper-item-title">АО «Корпорация»</h4>
					<h4 class="clients__swiper-item-subtitle">«Тактическое ракетное вооружение»</h4>
				</li>
				<li class="clients__swiper-item swiper-slide">
					<img src="../assets/images/clients.jpg" alt="" class="clients__swiper-item-image" />
					<h4 class="clients__swiper-item-title">АО «Корпорация»</h4>
					<h4 class="clients__swiper-item-subtitle">«Тактическое ракетное вооружение»</h4>
				</li>
				<li class="clients__swiper-item swiper-slide">
					<img src="../assets/images/clients.jpg" alt="" class="clients__swiper-item-image" />
					<h4 class="clients__swiper-item-title">АО «Корпорация»</h4>
					<h4 class="clients__swiper-item-subtitle">«Тактическое ракетное вооружение»</h4>
				</li>
				<li class="clients__swiper-item swiper-slide">
					<img src="../assets/images/clients.jpg" alt="" class="clients__swiper-item-image" />
					<h4 class="clients__swiper-item-title">АО «Корпорация»</h4>
					<h4 class="clients__swiper-item-subtitle">«Тактическое ракетное вооружение»</h4>
				</li>
				<li class="clients__swiper-item swiper-slide">
					<img src="../assets/images/clients.jpg" alt="" class="clients__swiper-item-image" />
					<h4 class="clients__swiper-item-title">АО «Корпорация»</h4>
					<h4 class="clients__swiper-item-subtitle">«Тактическое ракетное вооружение»</h4>
				</li>
				<li class="clients__swiper-item swiper-slide">
					<img src="../assets/images/clients.jpg" alt="" class="clients__swiper-item-image" />
					<h4 class="clients__swiper-item-title">АО «Корпорация»</h4>
					<h4 class="clients__swiper-item-subtitle">«Тактическое ракетное вооружение»</h4>
				</li>
				<li class="clients__swiper-item swiper-slide">
					<img src="../assets/images/clients.jpg" alt="" class="clients__swiper-item-image" />
					<h4 class="clients__swiper-item-title">АО «Корпорация»</h4>
					<h4 class="clients__swiper-item-subtitle">«Тактическое ракетное вооружение»</h4>
				</li>
				<li class="clients__swiper-item swiper-slide">
					<img src="../assets/images/clients.jpg" alt="" class="clients__swiper-item-image" />
					<h4 class="clients__swiper-item-title">АО «Корпорация»</h4>
					<h4 class="clients__swiper-item-subtitle">«Тактическое ракетное вооружение»</h4>
				</li>
				<li class="clients__swiper-item swiper-slide">
					<img src="../assets/images/clients.jpg" alt="" class="clients__swiper-item-image" />
					<h4 class="clients__swiper-item-title">АО «Корпорация»</h4>
					<h4 class="clients__swiper-item-subtitle">«Тактическое ракетное вооружение»</h4>
				</li>
				<li class="clients__swiper-item swiper-slide">
					<img src="../assets/images/clients.jpg" alt="" class="clients__swiper-item-image" />
					<h4 class="clients__swiper-item-title">АО «Корпорация»</h4>
					<h4 class="clients__swiper-item-subtitle">«Тактическое ракетное вооружение»</h4>
				</li>
			</ul>
			<div class="swiper-button-next">
        <svg width="44" height="45" viewBox="0 0 44 45" fill="none" xmlns="http://www.w3.org/2000/svg">
<g opacity="0.8">
<rect x="0.5" y="1.39258" width="43" height="43" rx="21.5" fill="white"/>
<rect x="0.5" y="1.39258" width="43" height="43" rx="21.5" stroke="#E8E9ED"/>
<path d="M18.5 15.8926L25.5 22.8926L18.5 29.8926" stroke="#DD2B1C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</g>
        </svg>
      </div>
			<div class="swiper-button-prev">
        <svg width="44" height="45" viewBox="0 0 44 45" fill="none" xmlns="http://www.w3.org/2000/svg">
<g opacity="0.8">
<rect x="-0.5" y="0.5" width="43" height="43" rx="21.5" transform="matrix(-1 0 0 1 43 0.892578)" fill="white"/>
<rect x="-0.5" y="0.5" width="43" height="43" rx="21.5" transform="matrix(-1 0 0 1 43 0.892578)" stroke="#E8E9ED"/>
<path d="M25.5 15.8926L18.5 22.8926L25.5 29.8926" stroke="#DD2B1C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</g>
        </svg>
      </div>
		</div>
		<div class="clients__container-btn">
      <button class="clients__btn consult">Связаться с нами</button>
    </div>
	</div>
</section>
