<section class="decision">
	<div class="container">
		<h2 class="decision__title">Решения для разных отраслей</h2>
		<h3 class="decision__subtitle">Индивидуальный подход для каждого клиента</h3>
		<div class="decision__content">
			<div class="tabs__swiper swiper">
				<ul class="swiper-wrapper decision__content-tabs">
					<li class="swiper-slide decision__content-tab active">Застройщики и генеральные подрядчики ЖК</li>
					<li class="swiper-slide decision__content-tab">Частный сектор</li>
					<li class="swiper-slide decision__content-tab">Генеральные директора строительных компаний</li>
					<li class="swiper-slide decision__content-tab">Промышленные объекты</li>
					<li class="swiper-slide decision__content-tab">Субподрядчики строительных проектов</li>
					<li class="swiper-slide decision__content-tab">Директора тендерных отделов</li>
					<li class="swiper-slide decision__content-tab">Снабженцы строительных компаний</li>
					<li class="swiper-slide decision__content-tab">Энергетики</li>
				</ul>
			</div>
			<ul class="decision__content-blocks">
				<li class="decision__content-block active">
					<div class="decision__content-text">
						<h5 class="decision__content-text-title">Застройщики и генеральные подрядчики ЖК</h5>
						<h6 class="decision__content-text-subtitle">
							"Оптимизируйте процесс строительства и сократите сроки сдачи объектов на 15% с нашим комплексным
							подходом."<br /><br />
							Обеспечьте комфорт и безопасность жителей вашего строящегося жилого дома с нашими современными системами
							электроснабжения и инженерными решениями
						</h6>
						<button class="decision__content-btn consult">Решения для застройщиков</button>
					</div>
					<img src="../assets/images/image.jpg" alt="" class="decision__content-image" />
				</li>
				<li class="decision__content-block">
					<div class="decision__content-text">
						<h5 class="decision__content-text-title">Частный сектор</h5>
						<h6 class="decision__content-text-subtitle">
							Обеспечьте комфорт и безопасность жителей вашего поселка с нашими современными системами электроснабжения,
							умными технологиями и инженерными решениями.Оптимизируйте работу, сократите издержки и создайте
							дополнительные источники дохода.Умные технологии повышают качество услуг и помогают вам зарабатывать
							больше.Управляющие и сервисные компании Получение лидов на обслуживание и ремонт инженерных систем.
							Возможность предоставлять дополнительные услуги жильцам через экосистему ОИК АМТЕК. Девелоперам и
							производителям домов Повышение стоимости объектов за счёт интеграции умных технологий и современных
							инженерных решений. Прямой доступ к решениям для автоматизации поселков.
						</h6>
						<button class="decision__content-btn consult">Решения для застройщиков</button>
					</div>
					<img src="../assets/images/image-1.jpg" alt="" class="decision__content-image" />
				</li>
				<li class="decision__content-block">
					<div class="decision__content-text">
						<h5 class="decision__content-text-title">Генеральные директора строительных компаний</h5>
						<h6 class="decision__content-text-subtitle">
							Упростите управление проектами и снизьте риски с нашим комплексным предложением и прозрачными условиями
							сотрудничества
						</h6>
						<button class="decision__content-btn consult">Решения для застройщиков</button>
					</div>
					<img src="../assets/images/image-2.jpg" alt="" class="decision__content-image" />
				</li>
				<li class="decision__content-block">
					<div class="decision__content-text">
						<h5 class="decision__content-text-title">Промышленные объекты</h5>
						<h6 class="decision__content-text-subtitle">
							Максимизируйте эффективность производства и снизьте простои до 0% с нашими надежными энергетическими
							решениями
						</h6>
						<button class="decision__content-btn consult">Решения для застройщиков</button>
					</div>
					<img src="../assets/images/image-3.jpg" alt="" class="decision__content-image" />
				</li>
				<li class="decision__content-block">
					<div class="decision__content-text">
						<h5 class="decision__content-text-title">Субподрядчики строительных проектов</h5>
						<h6 class="decision__content-text-subtitle">
							Ускорьте выполнение работ на 20% с нашим оперативным снабжением и технической поддержкой
						</h6>
						<button class="decision__content-btn consult">Решения для застройщиков</button>
					</div>
					<img src="../assets/images/image-4.jpg" alt="" class="decision__content-image" />
				</li>
				<li class="decision__content-block">
					<div class="decision__content-text">
						<h5 class="decision__content-text-title">Директора тендерных отделов</h5>
						<h6 class="decision__content-text-subtitle">
							Выигрывайте тендеры с нашей безупречной документацией и конкурентными предложениями. Увеличение
							вероятности победы на 30%
						</h6>
						<button class="decision__content-btn consult">Решения для застройщиков</button>
					</div>
					<img src="../assets/images/image-5.jpg" alt="" class="decision__content-image" />
				</li>
				<li class="decision__content-block">
					<div class="decision__content-text">
						<h5 class="decision__content-text-title">Снабженцы строительных компаний</h5>
						<h6 class="decision__content-text-subtitle">
							Получайте всё необходимое оборудование вовремя и по выгодным ценам. Сокращение времени на закупки на 50%
						</h6>
						<button class="decision__content-btn consult">Решения для застройщиков</button>
					</div>
					<img src="../assets/images/image-6.jpg" alt="" class="decision__content-image" />
				</li>
				<li class="decision__content-block">
					<div class="decision__content-text">
						<h5 class="decision__content-text-title">Энергетики</h5>
						<h6 class="decision__content-text-subtitle">
							Обновите ваши энергетические системы с современным оборудованием и сократите эксплуатационные расходы на
							25%
						</h6>
						<button class="decision__content-btn consult">Решения для застройщиков</button>
					</div>
					<img src="../assets/images/image-7.jpg" alt="" class="decision__content-image" />
				</li>
			</ul>
		</div>
	</div>
</section>
