<section class="equipment">
	<div class="container">
		<h2 class="equipment__title">Наше оборудование и технологии</h2>
		<h3 class="equipment__subtitle">Качество и инновации в каждом решении</h3>
		<h4 class="equipment__text">
			Мы сотрудничаем с ведущими мировыми и отечественными производителями, обеспечивая доступ к новейшим технологиям и
			высокому качеству оборудования
		</h4>
		<div class="swiper equipment__tech">
			<ul class="swiper-wrapper equipment__techList">
				<li class="equipment__techItem swiper-slide">
					<img src="../assets/images/tech-image.png" alt="" class="equipment__techItem-image" />
				</li>
				<li class="equipment__techItem swiper-slide">
					<img src="../assets/images/tech-image.png" alt="" class="equipment__techItem-image" />
				</li>
				<li class="equipment__techItem swiper-slide">
					<img src="../assets/images/tech-image.png" alt="" class="equipment__techItem-image" />
				</li>
				<li class="equipment__techItem swiper-slide">
					<img src="../assets/images/tech-image.png" alt="" class="equipment__techItem-image" />
				</li>
				<li class="equipment__techItem swiper-slide">
					<img src="../assets/images/tech-image.png" alt="" class="equipment__techItem-image" />
				</li>
				<li class="equipment__techItem swiper-slide">
					<img src="../assets/images/tech-image.png" alt="" class="equipment__techItem-image" />
				</li>
				<li class="equipment__techItem swiper-slide">
					<img src="../assets/images/tech-image.png" alt="" class="equipment__techItem-image" />
				</li>
				<li class="equipment__techItem swiper-slide">
					<img src="../assets/images/tech-image.png" alt="" class="equipment__techItem-image" />
				</li>
				<li class="equipment__techItem swiper-slide">
					<img src="../assets/images/tech-image.png" alt="" class="equipment__techItem-image" />
				</li>
				<li class="equipment__techItem swiper-slide">
					<img src="../assets/images/tech-image.png" alt="" class="equipment__techItem-image" />
				</li>
			</ul>
			<div class="swiper-button-next">
				<svg width="44" height="45" viewBox="0 0 44 45" fill="none" xmlns="http://www.w3.org/2000/svg">
<g opacity="0.8">
<rect x="0.5" y="1.39258" width="43" height="43" rx="21.5" fill="white"/>
<rect x="0.5" y="1.39258" width="43" height="43" rx="21.5" stroke="#E8E9ED"/>
<path d="M18.5 15.8926L25.5 22.8926L18.5 29.8926" stroke="#DD2B1C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</g>
				</svg>

			</div>
			<div class="swiper-button-prev">
				<svg width="44" height="45" viewBox="0 0 44 45" fill="none" xmlns="http://www.w3.org/2000/svg">
<g opacity="0.8">
<rect x="-0.5" y="0.5" width="43" height="43" rx="21.5" transform="matrix(-1 0 0 1 43 0.892578)" fill="white"/>
<rect x="-0.5" y="0.5" width="43" height="43" rx="21.5" transform="matrix(-1 0 0 1 43 0.892578)" stroke="#E8E9ED"/>
<path d="M25.5 15.8926L18.5 22.8926L25.5 29.8926" stroke="#DD2B1C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</g>
				</svg>
			</div>
		</div>
	</div>
</section>
