<section class="faq">
  <div class="container">
    <h2 class="faq__title">Часто задаваемые вопросы</h2>
    <h3 class="faq__subtitle">Ответы на ваши вопросы </h3>
    <ul class="faq__list">
      <li class="faq__item active">
        <p class="faq__item-question">Как быстро вы можете поставить оборудование?</p>
        <p class="faq__item-answer">Благодаря собственным складам и отлаженной логистике, мы осуществляем поставки в течение 3-7 дней.Сроки подсчетов проекта инженерами  - от 3 дней, сроки производства - от 7 дней, в зависимости от сложности проекта В случае индивидуальных заказов сроки обсуждаются отдельно</p>
      </li>
      <li class="faq__item">
        <p class="faq__item-question">Есть ли у вас опыт работы с крупными промышленными предприятиями?</p>
        <p class="faq__item-answer">Благодаря собственным складам и отлаженной логистике, мы осуществляем поставки в течение 3-7 дней.Сроки подсчетов проекта инженерами  - от 3 дней, сроки производства - от 7 дней, в зависимости от сложности проекта В случае индивидуальных заказов сроки обсуждаются отдельно</p>
      </li>
      <li class="faq__item">
        <p class="faq__item-question">Предоставляете ли вы гарантию на оборудование?</p>
        <p class="faq__item-answer">Благодаря собственным складам и отлаженной логистике, мы осуществляем поставки в течение 3-7 дней.Сроки подсчетов проекта инженерами  - от 3 дней, сроки производства - от 7 дней, в зависимости от сложности проекта В случае индивидуальных заказов сроки обсуждаются отдельно</p>
      </li>
      <li class="faq__item">
        <p class="faq__item-question">Можете ли вы помочь с подготовкой тендерной документации?</p>
        <p class="faq__item-answer">Благодаря собственным складам и отлаженной логистике, мы осуществляем поставки в течение 3-7 дней.Сроки подсчетов проекта инженерами  - от 3 дней, сроки производства - от 7 дней, в зависимости от сложности проекта В случае индивидуальных заказов сроки обсуждаются отдельно</p>
      </li>
      <li class="faq__item">
        <p class="faq__item-question">Есть ли у вас опыт работы с крупными промышленными предприятиями?</p>
        <p class="faq__item-answer">Благодаря собственным складам и отлаженной логистике, мы осуществляем поставки в течение 3-7 дней.Сроки подсчетов проекта инженерами  - от 3 дней, сроки производства - от 7 дней, в зависимости от сложности проекта В случае индивидуальных заказов сроки обсуждаются отдельно</p>
      </li>
    </ul>
  </div>
</section>