<footer class="footer">
	<div class="container">
		<div class="footer__wrapper">
			<div class="footer__logo">
				<svg width="40" height="40">
					<use xlink:href="assets/svg/sprite.svg#icon-logo"></use>
				</svg>
				<h4 class="footer__logo-rights">2025 © Все права защищены</h4>
			</div>
			<ul class="footer__navList">
				<li class="footer__navItem"><a href="" class="footer__navItem-link">О компании</a></li>
				<li class="footer__navItem"><a href="" class="footer__navItem-link">Продукты и услуги</a></li>
				<li class="footer__navItem"><a href="" class="footer__navItem-link">Проекты</a></li>
				<li class="footer__navItem"><a href="" class="footer__navItem-link">Статьи</a></li>
				<li class="footer__navItem"><a href="" class="footer__navItem-link">Контакты</a></li>
				<li class="footer__navItem"><a href="" class="footer__navItem-link">Политика конфиденциальности</a></li>
				<li class="footer__navItem"><a href="" class="footer__navItem-link">Партнерство и сотрудничество</a></li>
			</ul>
			<div class="footer__contacts">
				<ul class="footer__contacts-list">
					<li class="footer__contacts-item">
						<h4 class="footer__contacts-item-title">ОТДЕЛ ПРОДАЖ:</h4>
						<h5 class="footer__contacts-item-info">
							Индустриальный Парк «ЭЛМА- МЫТИЩИ» <br />
							МО, г. Мытищи ул. Силикатная 19 офис 207 <br />
							Тел: 8(800) 333-69-98 -(бесплатный звонок) <br />
							Тел: +7(495) 187-69-98 - отдел продаж <br />
							Е-mail: info@oik-amtek.ru
						</h5>
						<div class="footer__contacts-item-phone">
							<svg width="40" height="40">
								<use xlink:href="assets/svg/sprite.svg#icon-whatsapp-gray"></use>
							</svg>
							<a href="tel:+79937116888" class="footer__contacts-item-number">+7(993) 711-68-88</a>
						</div>
					</li>
					<li class="footer__contacts-item">
						<h4 class="footer__contacts-item-title">Производство электрощитового оборудования:</h4>
						<h5 class="footer__contacts-item-info">г. Москва, Электролитный проезд, 3с8</h5>
					</li>
					<li class="footer__contacts-item">
						<h4 class="footer__contacts-item-title">Производственная база</h4>
						<h5 class="footer__contacts-item-info">
							МО, дер, Поярково, ул. Клушинская, стр. 7 <br />
							ПН-ЧТ: 09.00-18:00 <br />
							ПТ: 09:00-17:00 <br />
							сб-вс выходной
						</h5>
					</li>
				</ul>
			</div>
		</div>
    <a href="" class="footer-moloko">site by moloko69</a>
	</div>
</footer>
