<section class="form">
	<div class="container">
		<h2 class="form__title">Свяжитесь с нами</h2>
		<h3 class="form__subtitle">Готовы обсудить ваш проект прямо сейчас</h3>
		<div class="form__container">
			<div class="form__container-form">
				<h4 class="form__container-form-title">Оставить заявку</h4>
				<h3 class="form__container-form-subtitle">
					Заполните поля ниже и мы перезвоним вам в ближайшее время для уточнения деталей
				</h3>
				<form action="" class="form__container-form-form">
					<input type="text" class="form__container-form-form-input" placeholder="Имя"/>
					<input type="text" class="form__container-form-form-input" placeholder="Название компании"/>
					<input type="email" class="form__container-form-form-input" placeholder="Электронная почта"/>
					<input type="text" class="form__container-form-form-input" placeholder="+7"/>
					<button class="form__container-form-form-btn">Отправить заявку</button>
				</form>
				<p class="form__container-form-subtext">
					Нажимая кнопку я соглашаюсь с обработкой персональных данныхи политикой конфиденциальности
				</p>
			</div>
			<div class="form__container-contacts">
				<h4 class="form__container-contacts-title">Контакты</h4>
				<ul class="form__container-contacts-list">
					<li class="form__container-contacts-item">
						<h4 class="form__container-contacts-item-title">ОТДЕЛ ПРОДАЖ:</h4>
						<h5 class="form__container-contacts-item-info">
							Индустриальный Парк «ЭЛМА- МЫТИЩИ» <br>
              МО, г. Мытищи ул. Силикатная 19 офис 207 <br>
              Тел: 8(800) 333-69-98 -(бесплатный звонок) <br>
              Тел: +7(495) 187-69-98 - отдел продаж <br>
              Е-mail: info@oik-amtek.ru
						</h5>
						<div class="form__container-contacts-item-phone">
							<svg width="40" height="40">
								<use xlink:href="assets/svg/sprite.svg#icon-whatsapp-gray"></use>
							</svg>
							<a href="tel:+79937116888" class="form__container-contacts-item-number">+7(993) 711-68-88</a>
						</div>
					</li>
					<li class="form__container-contacts-item">
						<h4 class="form__container-contacts-item-title">Производство электрощитового оборудования:</h4>
						<h5 class="form__container-contacts-item-info">г. Москва, Электролитный проезд, 3с8</h5>
					</li>
					<li class="form__container-contacts-item">
						<h4 class="form__container-contacts-item-title">Производственная база</h4>
						<h5 class="form__container-contacts-item-info">
              МО, дер, Поярково, ул. Клушинская, стр. 7 <br>
              ПН-ЧТ: 09.00-18:00 <br>
              ПТ: 09:00-17:00 <br>
              сб-вс выходной
            </h5>
					</li>
				</ul>
        <img src="../assets/images/map.jpg" alt="" class="form__container-contacts-map">
			</div>
		</div>
	</div>
</section>
