<header class="header">
	<div class="header__1lvl">
		<div class="container">
			<p class="header__1lvl-name">Индустриальный Парк “Элма-Мытищи”</p>
			<div class="header__1lvl-contacts">
				<a href="">
					<svg width="40" height="40">
						<use xlink:href="assets/svg/sprite.svg#icon-whatsapp"></use>
					</svg>
				</a>
				<ul class="header__1lvl-numbers-list">
					<li class="header__1lvl-number-item">
						<a href="tel:88003336998" class="header__1lvl-number-link">8(800) 333-69-98</a>
						<p class="header__1lvl-number-name">бесплатный звонок</p>
					</li>
					<li class="header__1lvl-number-item">
						<a href="tel:+74951876998 " class="header__1lvl-number-link">+7(495) 187-69-98 </a>
						<p class="header__1lvl-number-name">отдел продаж</p>
					</li>
					<li class="header__1lvl-number-item">
						<a href="mailto:info@oik-amtek.ru" class="header__1lvl-number-link">info@oik-amtek.ru</a>
						<p class="header__1lvl-number-name">электронная почта</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="header__2lvl">
		<div class="container">
			<svg width="40" height="40">
				<use xlink:href="assets/svg/sprite.svg#icon-logo"></use>
			</svg>
			<nav class="header__2lvl-nav">
				<ul class="header__2lvl-navList">
					<li class="header__2lvl-navItem"><a href="" class="header__2lvl-navItem-link">Главная</a></li>
					<li class="header__2lvl-navItem"><a href="" class="header__2lvl-navItem-link">О компании</a></li>
					<li class="header__2lvl-navItem"><a href="" class="header__2lvl-navItem-link">Продукты и услуги</a></li>
					<li class="header__2lvl-navItem"><a href="" class="header__2lvl-navItem-link">Проекты</a></li>
					<li class="header__2lvl-navItem"><a href="" class="header__2lvl-navItem-link">Вопросы</a></li>
					<li class="header__2lvl-navItem"><a href="" class="header__2lvl-navItem-link">Контакты</a></li>
				</ul>
			</nav>
			<button class="header__2lvl-btn commerce">Получить коммерческое предложение</button>
			<div>
				<a href="" class="header__2lvl-btn-mobile">Позвонить</a>
				<svg class="burgerBtnOpen" width="40" height="40">
					<use xlink:href="assets/svg/sprite.svg#icon-burger-btn"></use>
				</svg>
			</div>
			<dialog class="header__burger">
				<div>
					<nav class="header__2lvl-nav">
						<ul class="header__2lvl-navList">
							<li class="header__2lvl-navItem"><a href="" class="header__2lvl-navItem-link">Главная</a></li>
							<li class="header__2lvl-navItem"><a href="" class="header__2lvl-navItem-link">О компании</a></li>
							<li class="header__2lvl-navItem"><a href="" class="header__2lvl-navItem-link">Продукты и услуги</a></li>
							<li class="header__2lvl-navItem"><a href="" class="header__2lvl-navItem-link">Проекты</a></li>
							<li class="header__2lvl-navItem"><a href="" class="header__2lvl-navItem-link">Вопросы</a></li>
							<li class="header__2lvl-navItem"><a href="" class="header__2lvl-navItem-link">Контакты</a></li>
						</ul>
					</nav>
					<div>
						<div class="header__burger-phoneContainer">
							<a href="">
								<svg width="40" height="40">
									<use xlink:href="assets/svg/sprite.svg#icon-whatsapp"></use>
								</svg>
							</a>
							<a href="" class="header__burger-phone">8(993) 711-68-88</a>
						</div>
						<ul class="header__1lvl-numbers-list">
							<li class="header__1lvl-number-item">
								<a href="tel:88003336998" class="header__1lvl-number-link">8(800) 333-69-98</a>
								<p class="header__1lvl-number-name">бесплатный звонок</p>
							</li>
							<li class="header__1lvl-number-item">
								<a href="tel:+74951876998 " class="header__1lvl-number-link">+7(495) 187-69-98 </a>
								<p class="header__1lvl-number-name">отдел продаж</p>
							</li>
							<li class="header__1lvl-number-item">
								<a href="mailto:info@oik-amtek.ru" class="header__1lvl-number-link">info@oik-amtek.ru</a>
								<p class="header__1lvl-number-name">электронная почта</p>
							</li>
						</ul>
					</div>
					<p class="header__1lvl-name">
						Индустриальный Парк «ЭЛМА- МЫТИЩИ»<br />
						МО, г. Мытищи ул. Силикатная 19 офис 207
					</p>
					<div class="header__burger-buttons">
						<button class="header__burger-btn commerce">Получить коммерческое предложение</button>
						<button class="header__burger-btn consult">Запросить консультацию</button>
					</div>
				</div>
			</dialog>
		</div>
	</div>
</header>
