<section class="hero">
	<div class="container">
		<h1 class="hero__title">Комплексные решения по внутренним и наружным инженерным сетям от надёжного партнёра №1 в отрасли</h1>
		<h5 class="hero__subtitle">Сократите бюджет и сроки вашего проекта выбрав нас.</h5>
		<h5 class="hero__subtitle">Всё необходимое инженерное оборудование и сервисы от одного подрядчика.</h5>
		<div class="hero__buttons">
			<button class="hero__buttons-commerceBtn commerce">Получить коммерческое предложение</button>
			<button class="hero__buttons-consultBtn consult">Запросить консультацию</button>
		</div>
	</div>
</section>
