<section class="pluses">
	<div class="container">
		<h2 class="pluses__title">Наши преимущества</h2>
		<h3 class="pluses__subtitle">Почему нам доверяют крупные строительные компании?</h3>
		<div class="pluses__swiper swiper">
			<ul class="pluses__list swiper-wrapper">
				<li class="pluses__item swiper-slide">
					<h6 class="pluses__item-title">Комплексные решения "под ключ"</h6>
					<h6 class="pluses__item-text">
						Мы берём на себя все этапы — от проектирования до монтажа внутренних и наружных инженерных сетей, электрощитового оборудования, комплексными решениями по автоматизации и диспетчеризации,
						освобождая вас от необходимости взаимодействия с несколькими подрядчиками и снижая риски задержек
					</h6>
				</li>
				<li class="pluses__item swiper-slide">
					<h6 class="pluses__item-title">Гарантия соблюдения сроков</h6>
					<h6 class="pluses__item-text">98% наших проектов сдаются точно в срок благодаря отлаженной логистике и управлению проектами</h6>
				</li>
				<li class="pluses__item swiper-slide">
					<h6 class="pluses__item-title">Высокое качество оборудования</h6>
					<h6 class="pluses__item-text">Сертифицированная продукция от ведущих производителей, соответствующая международным стандартам ISO и ГОСТ</h6>
				</li>
				<li class="pluses__item swiper-slide">
					<h6 class="pluses__item-title">Прозрачные и конкурентоспособные цены</h6>
					<h6 class="pluses__item-text">Снижение затрат заказчиков в среднем на 20% благодаря оптимизации процессов и отсутствию скрытых расходов</h6>
				</li>
				<li class="pluses__item swiper-slide">
					<h6 class="pluses__item-title">Техническая поддержка 24/7</h6>
					<h6 class="pluses__item-text">Круглосуточная поддержка и оперативное решение любых технических вопросов в течение 2 часов</h6>
				</li>
				<li class="pluses__item swiper-slide">
					<h6 class="pluses__item-title">Полный ассортимент материалов</h6>
					<h6 class="pluses__item-text">Более 10 000 наименований оборудования и материалов в наличии</h6>
				</li>
			</ul>
		</div>
    <div>
			<button class="pluses__btn consult">Связаться с нами</button>
		</div>
	</div>
</section>
