<dialog class="popUp__commerce popUp">
	<svg width="24" height="24" class="popUp__cross">
		<use xlink:href="assets/svg/sprite.svg#icon-cross"></use>
	</svg>
	<h2 class="popUp__title">
		Куда вам прислать<br />
		коммерческое предложение?
	</h2>
	<form action="" class="popUp__form">
		<input type="text" class="popUp__form-input" placeholder="Имя, компания" />
		<input type="text" class="popUp__form-input" placeholder="+7" />
		<input type="text" class="popUp__form-input" placeholder="Электронная почта" />
		<button class="popUp__form-btn popUp__btn">Отправить</button>
	</form>
	<p class="popUp__form-subtext">
		Нажимая кнопку я соглашаюсь с обработкой персональных данныхи политикой конфиденциальности
	</p>
</dialog>
<dialog class="popUp__connection popUp">
	<svg width="24" height="24" class="popUp__cross">
		<use xlink:href="assets/svg/sprite.svg#icon-cross"></use>
	</svg>
	<h2 class="popUp__title">Как с вами связаться?</h2>
	<form action="" class="popUp__form">
		<input type="text" class="popUp__form-input" placeholder="Имя, компания" />
		<input type="text" class="popUp__form-input" placeholder="+7" />
		<input type="text" class="popUp__form-input" placeholder="Электронная почта" />
		<button class="popUp__form-btn popUp__btn">Отправить</button>
	</form>
	<p class="popUp__form-subtext">
		Нажимая кнопку я соглашаюсь с обработкой персональных данныхи политикой конфиденциальности
	</p>
</dialog>
<dialog class="popUp__reference popUp">
	<svg width="24" height="24" class="popUp__cross">
		<use xlink:href="assets/svg/sprite.svg#icon-cross"></use>
	</svg>
	<h2 class="popUp__title">
		Куда вам прислать<br />
		Референс лист?
	</h2>
	<form action="" class="popUp__form">
		<input type="text" class="popUp__form-input" placeholder="Имя, компания" />
		<input type="text" class="popUp__form-input" placeholder="+7" />
		<input type="text" class="popUp__form-input" placeholder="Электронная почта" />
		<button class="popUp__form-btn popUp__btn">Отправить</button>
	</form>
	<p class="popUp__form-subtext">
		Нажимая кнопку я соглашаюсь с обработкой персональных данныхи политикой конфиденциальности
	</p>
</dialog>
<dialog class="popUp__thank popUp">
	<h2 class="popUp__title">Спасибо за обращение</h2>
	<button class="popUp__btn">На главную</button>
</dialog>
