<section class="product">
  <div class="container">
    <h2 class="product__title">Выпускаемая продукция</h2>
    <ul class="product__list">
      <li class="product__item">
        <img src="..assets/images/product-image.jpg" alt="" class="product__item-image">
        <h5 class="product__item-title">ГРЩ - Главные распределительные щиты</h5>
        <button class="product__item-btn">Оставить заявку</button>
      </li>
      <li class="product__item">
        <img src="..assets/images/product-image.jpg" alt="" class="product__item-image">
        <h5 class="product__item-title">ГРЩ - Главные распределительные щиты</h5>
        <button class="product__item-btn">Оставить заявку</button>
      </li>
      <li class="product__item">
        <img src="..assets/images/product-image.jpg" alt="" class="product__item-image">
        <h5 class="product__item-title">ГРЩ - Главные распределительные щиты</h5>
        <button class="product__item-btn">Оставить заявку</button>
      </li>
      <li class="product__item">
        <img src="..assets/images/product-image.jpg" alt="" class="product__item-image">
        <h5 class="product__item-title">ГРЩ - Главные распределительные щиты</h5>
        <button class="product__item-btn">Оставить заявку</button>
      </li>
      <li class="product__item">
        <img src="..assets/images/product-image.jpg" alt="" class="product__item-image">
        <h5 class="product__item-title">ГРЩ - Главные распределительные щиты</h5>
        <button class="product__item-btn">Оставить заявку</button>
      </li>
      <li class="product__item">
        <img src="..assets/images/product-image.jpg" alt="" class="product__item-image">
        <h5 class="product__item-title">ГРЩ - Главные распределительные щиты</h5>
        <button class="product__item-btn">Оставить заявку</button>
      </li>
      <li class="product__item">
        <img src="..assets/images/product-image.jpg" alt="" class="product__item-image">
        <h5 class="product__item-title">ГРЩ - Главные распределительные щиты</h5>
        <button class="product__item-btn">Оставить заявку</button>
      </li>
      <li class="product__item">
        <img src="..assets/images/product-image.jpg" alt="" class="product__item-image">
        <h5 class="product__item-title">ГРЩ - Главные распределительные щиты</h5>
        <button class="product__item-btn">Оставить заявку</button>
      </li>
      <li class="product__item">
        <img src="..assets/images/product-image.jpg" alt="" class="product__item-image">
        <h5 class="product__item-title">ГРЩ - Главные распределительные щиты</h5>
        <button class="product__item-btn">Оставить заявку</button>
      </li>
      <li class="product__item">
        <img src="..assets/images/product-image.jpg" alt="" class="product__item-image">
        <h5 class="product__item-title">ГРЩ - Главные распределительные щиты</h5>
        <button class="product__item-btn">Оставить заявку</button>
      </li>
      <li class="product__item">
        <img src="..assets/images/product-image.jpg" alt="" class="product__item-image">
        <h5 class="product__item-title">ГРЩ - Главные распределительные щиты</h5>
        <button class="product__item-btn">Оставить заявку</button>
      </li>
      <li class="product__item">
        <img src="..assets/images/product-image.jpg" alt="" class="product__item-image">
        <h5 class="product__item-title">ГРЩ - Главные распределительные щиты</h5>
        <button class="product__item-btn">Оставить заявку</button>
      </li>
      <li class="product__item">
        <img src="..assets/images/product-image.jpg" alt="" class="product__item-image">
        <h5 class="product__item-title">ГРЩ - Главные распределительные щиты</h5>
        <button class="product__item-btn">Оставить заявку</button>
      </li>
      <li class="product__item">
        <img src="..assets/images/product-image.jpg" alt="" class="product__item-image">
        <h5 class="product__item-title">ГРЩ - Главные распределительные щиты</h5>
        <button class="product__item-btn">Оставить заявку</button>
      </li>
      <li class="product__item">
        <img src="..assets/images/product-image.jpg" alt="" class="product__item-image">
        <h5 class="product__item-title">ГРЩ - Главные распределительные щиты</h5>
        <button class="product__item-btn">Оставить заявку</button>
      </li>
      <li class="product__item">
        <img src="..assets/images/product-image.jpg" alt="" class="product__item-image">
        <h5 class="product__item-title">ГРЩ - Главные распределительные щиты</h5>
        <button class="product__item-btn">Оставить заявку</button>
      </li>
    </ul>
  </div>
</section>